<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwyao.system.mapper.OrderDetailMapper">

    <insert id="batchInsert">
        INSERT INTO order_detail (id, order_id, thing_id, classification_id, title, price, number) VALUES
        <foreach item="data" collection="list" separator=",">
            (
            #{data.id},
            #{data.orderId},
            #{data.thingId},
            #{data.classificationId},
            #{data.title},
            #{data.price},
            #{data.number}
            )
        </foreach>
    </insert>
</mapper>
